/* style.css : giftastic stylesheet */
/* Jan Jakubowski - 29.apr.19  - inital */
* {
  font-family: Georgia, Times, "Times New Roman", serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-size: 20px;
}

body {
  background-image: url("../images/topography.svg"), 
    linear-gradient(110deg, #457FFF, #B0FFCB);
  background-size: 340px, auto; 
}

h1, h2, h3, h4 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
}

body {
  letter-spacing: -1px;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  width: 80%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 30px auto;
  color: #eee;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin: 5px px;
  padding: 2px  5px;
}

.user-input-display {
  width: 90%;
  margin: 8px auto 8px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4fr 2fr 1fr;
}

.user-input-item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  font-size: 35px;
  background-color: darkslateblue;
  color: #ccc; 
}

.topic-buttons {
  /* width: 90%; */
  margin: 8px auto 8px auto;
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(5, 1fr);
}

.topic-button {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  font-size: 24px;
  background-color: yellow;
  color: black; 
}

.topic-button:hover {

  background-color: black;
  color: yellow; 
}



/* .button-container {
  width: 90%;
  margin: 8px auto 8px auto;
  display: grid;
      grid-gap: 10px;
      grid-template-columns: 3fr 1fr;
 
} */

.gif-item-container {
  width: 80%;
  margin: 8px auto 8px auto;
  display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 
}

.gif-item-title {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  font-size: 35px;
  background-color: blue;
  color: yellow;
  grid-column: 1 / -1; 
}


.gif-item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  font-size: 35px;
  background-color: blue;
  color: yellow;
  
}

.item-image {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 15px;
  /* font-size: 35px; */
  /* background-color: darkslateblue;
  color: #ccc;  */
}


/* END OF FILE */